################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rescue/FileContentIndex/1d230daa-807d-443c-9df4-8378138fe30b.vsidx
