################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rescue/FileContentIndex/1d230daa-807d-443c-9df4-8378138fe30b.vsidx
/.vs/Rescue/FileContentIndex/1af0666b-63a3-4ab8-9ef9-6294bd151a8f.vsidx
