################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rescue/FileContentIndex/1d230daa-807d-443c-9df4-8378138fe30b.vsidx
/.vs/Rescue/FileContentIndex/1af0666b-63a3-4ab8-9ef9-6294bd151a8f.vsidx
/.vs/Rescue/FileContentIndex/1664c4a7-7392-4c73-9145-4630123ebb1f.vsidx
/.vs/Rescue/FileContentIndex/3cdfb5bb-8ffd-4c11-b20c-60ba2d7b51b6.vsidx
/.vs/RescueGUI/FileContentIndex/0e36b484-6b58-4b49-8a46-a8fe147e62bb.vsidx
